*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    color: white;
}
html,body{
    width: 100%;
    height: 100%;
}
#page1{
    width: 99vw;
    height: 100vh;
    background-color: black;
    
}
.nav{
    height: 10vh;
    border-bottom: 3px solid #dadada;
    margin: 0 8vh;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px
}
.h3{
    display: flex;
    margin: 0 10px;
}
.h3 h3{
    margin: 0 10px;
}
.body{
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vh 0 0 0 
}
.left{
    height: 50vh;
    width: 35vw;
    text-transform: uppercase;
    margin-right: 20px;
    font-size: 5vh;
    font-weight: 500;
    line-height: 11vh;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.left h1 span img{
    height: 7.5vh;;
    width:7.5vh;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 50%;
    margin: 0 0px 0px -20px;
}
.left h1 span img:nth-child(1){
    margin-left: 0 ;
}
.right{
    overflow: hidden;
}
.right img{
    object-fit: cover;
    height: 50vh;
    width: 35vw;
    border-radius: 20px;
}
#page2{
    width: 99vw;
    height: 100vh;
    background-color: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly
}
.box{
    height: 28vh;
    width: 18vw;
    border: 3px solid #dadada;
    text-transform: uppercase;
    border-radius: 25px;
    color: #dadada
}
.box h2{
    margin-bottom: 10px;
    margin-top: 10px;
}
.box p {
    font-size: 12px
}